@font-face {
    font-family: DinBlack;
    src: url(../../font/Din/DIN-Black.eot);
    src: url(../../font/Din/DIN-Black.eot?#iefix) format("embedded-opentype"), url(../../font/Din/DIN-Black.woff2) format("woff2"), url(../../font/Din/DIN-Black.woff) format("woff"), url(../../font/Din/DIN-Black.ttf) format("truetype"), url(../../font/Din/DIN-Black.svg#DinBlack) format("svg");
    font-weight: 700;
    font-style: normal
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, Droid Sans, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Tahoma, Arial, sans-serif
}

a, div, h1, h2, h3, h4, h5, h6, li, p, span {
    color: #fff
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

.container {
    margin: 0 auto;
    width: 1170px
}

@media (max-width: 1280px) {
    .container {
        width: 960px
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 15px
    }
}

@supports (padding:0px) {
    .container {
        padding-left: max(15px, constant(safe-area-inset-left));
        padding-left: max(15px, env(safe-area-inset-left));
        padding-right: max(15px, constant(safe-area-inset-right));
        padding-right: max(15px, env(safe-area-inset-right))
    }
}
/*body{
    background-color: #04022e;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}*/

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 20px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
    -webkit-transition: background-color .3s ease-out, -webkit-box-shadow .3s ease-out;
    transition: background-color .3s ease-out, -webkit-box-shadow .3s ease-out;
    transition: background-color .3s ease-out, box-shadow .3s ease-out;
    transition: background-color .3s ease-out, box-shadow .3s ease-out, -webkit-box-shadow .3s ease-out;
    will-change: background-color, box-shadow;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.btn.btn-primary {
    background: #4f29fe;
    background: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
    background: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff));
    background: linear-gradient(90deg, #4f29fe 0, #a93aff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5029fe", endColorstr="#aa3aff", GradientType=1)
}

.btn.btn-primary-ghost {
    border: 2px solid #4f29fe;
    border-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff)) 2;
    -o-border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff)) 2;
    border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    color: #fff;
    padding: 12px 40px
}

.btn.btn-hover-glow:hover {
    background-color: rgba(169, 58, 255, .4);
    -webkit-box-shadow: #a039ff 0 0 20px 0;
    box-shadow: 0 0 20px 0 #a039ff
}

#body-container {
    width: 100vw;
    height: 100vh;
    /*background-color: #04022e;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat*/
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    border-bottom: 1px solid #36259c;
    z-index: 1
}

#main-header, #main-header > .container, #main-header > .container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#main-header > .container .left nav {
    margin-left: 50px
}

@media (max-width: 768px) {
    #main-header > .container .left nav {
        display: none
    }
}

#main-header > .container .left ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#main-header > .container .left ul li {
    padding: 0 15px
}

@media (max-width: 1024px) {
    #main-header > .container .left ul li {
        padding: 0 10px
    }
}

#main-header > .container .left ul li:first-of-type {
    padding-left: 0
}

#main-header > .container .left ul li:last-of-type {
    padding-right: 0
}

#main-header > .container .left ul li a {
    height: 75px;
    font-size: 14px;
    text-transform: uppercase
}

#main-header > .container .left ul li.active a {
    color: #4f29fe;
    white-space: nowrap
}

@supports (-webkit-text-fill-color:transparent) and ((background-clip:text) or (-webkit-background-clip:text)) {
    #main-header > .container .left ul li.active a {
        background-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
        background-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff));
        background-image: linear-gradient(90deg, #4f29fe 0, #a93aff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent
    }
}

#main-header > .container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 1024px) {
    #main-header > .container .right {
        margin-right: -15px
    }
}

#main-header > .container .right #language-selector {
    position: relative;
    margin-right: 20px;
    z-index: 1
}

#main-header > .container .right #language-selector .current-language {
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    position: relative;
    cursor: pointer
}

#main-header > .container .right #language-selector .current-language p {
    color: #4f29fe;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

@supports (-webkit-text-fill-color:transparent) and ((background-clip:text) or (-webkit-background-clip:text)) {
    #main-header > .container .right #language-selector .current-language p {
        background-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
        background-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff));
        background-image: linear-gradient(90deg, #4f29fe 0, #a93aff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent
    }
}

#main-header > .container .right #language-selector .current-language:after {
    content: "";
    position: absolute;
    top: 35.5px;
    right: 0;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid #fff
}

#main-header > .container .right #language-selector ul {
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 15px 0;
    display: none;
    z-index: 1
}

#main-header > .container .right #language-selector ul li {
    width: 100px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 0
}

#main-header > .container .right #language-selector ul li span {
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#main-header > .container .right #language-selector ul li.active span {
    padding: 0 0 4px;
    color: #4f29fe;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #4f29fe;
    border-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff)) 2;
    -o-border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff)) 2;
    border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2
}

@supports (-webkit-text-fill-color:transparent) and ((background-clip:text) or (-webkit-background-clip:text)) {
    #main-header > .container .right #language-selector ul li.active span {
        background-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
        background-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff));
        background-image: linear-gradient(90deg, #4f29fe 0, #a93aff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent
    }
}

#main-header > .container .right #language-selector.open .current-language:after {
    top: 31.5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #fff
}

#main-header > .container .right #language-selector.open ul {
    display: block
}

#main-header > .container .right .btn-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px
}

#main-container {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position
}

.section {
    padding: 0px 0 0 0;
    position: relative
}

@media (max-width: 768px) {
    .section {
        padding: 30px 0
    }
}

.section h1, .section h2 {
    font-family: DinBlack, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, Droid Sans, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Tahoma, Arial, sans-serif;
    word-wrap: break-word;
    max-width: 100%
}

.section h1 {
    font-size: 50px
}

@media (max-width: 480px) {
    .section h1 {
        font-size: 40px
    }
}

@media (max-width: 375px) {
    .section h1 {
        font-size: 32px
    }
}

.section h2 {
    font-size: 30px
}

.section p {
    font-size: 14px;
    line-height: 1.75;
    font-weight: 400
}
.article{ opacity: 0.5 }
.article, .article p{ font-size:12px!important; line-height: 1.3!important; color: #aba7ff!important; }
.article h4{ color: #aba7ff!important; }
.article .button{ padding: 4px 8px!important; }


.section .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px
}

.section .title-container .title-wrapper {
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #4f29fe;
    border-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff)) 2;
    -o-border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff)) 2;
    border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    padding: 32px 0
}

.section .title-container .title-wrapper h1 {
    text-transform: uppercase
}

#section-home .title {
    margin-bottom: 50px
}

#section-home .title p {
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3
}

#section-home .white-paper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#section-home .white-paper p { font-size: 16px }
#section-home .white-paper p:nth-child(1) { font-weight: bold }
#section-home .white-paper p:nth-child(2) { color: #a19dff; padding-left: 20px }

.project{ margin-left:20px!important; }

@media (max-width: 768px) {
    #section-home .white-paper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-home .white-paper .btn {
    margin-left: 100px;
    margin-top: 8px
}

@media (max-width: 768px) {
    #section-home .white-paper .btn {
        width: 100%;
        margin-left: 0;
        margin-top: 30px
    }
    .project{ margin-left:0!important; }
}

#section-home .video-container {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    background-color: #000
}

#section-home .video-container video {
    width: 100%
}

#section-home .video-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none
}

#section-home .video-container img.show {
    display: block
}

#section-home .video-container .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background-image: url(../../img/btn-play.png?v=0.66822);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    z-index: 2;
    cursor: pointer;
    display: none
}

@media (max-width: 768px) {
    #section-home .video-container .btn-play {
        width: 80px;
        height: 80px
    }
}

#section-home .video-container .btn-play.show {
    display: block
}

#section-home .video-container .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    cursor: pointer
}

#section-home .presale-process h2 {
    margin-bottom: 20px
}

#section-home .presale-process .progress-bar {
    margin-bottom: 10px;
    height: 30px;
    position: relative;
    background-color: #2b1580;
    padding: 4px
}

#section-home .presale-process .progress-bar .current {
    height: 100%;
    background: #4f29fe;
    background: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
    background: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff));
    background: linear-gradient(90deg, #4f29fe 0, #a93aff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5029fe", endColorstr="#aa3aff", GradientType=1);
    width: 20%
}

#section-home .presale-process footer {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#section-home .presale-process footer .left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0
}

#section-home .presale-process footer .left ul li {
    width: 33px;
    height: 33px;
    position: relative
}

#section-home .presale-process footer .left ul li + li {
    margin-left: 20px
}

#section-home .presale-process footer .left ul li a {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#section-home .presale-process footer .left ul li.facebook a {
    background-image: url(../../img/icon-facebook.svg?v=0.34992)
}

#section-home .presale-process footer .left ul li.wechat a {
    background-image: url(../../img/icon-wechat.svg?v=0.26759)
}

#section-problem .content, #section-solution .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width: 768px) {
    #section-problem .content, #section-solution .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-problem .content.content-rtl, #section-solution .content.content-rtl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

@media (max-width: 768px) {
    #section-problem .content.content-rtl, #section-solution .content.content-rtl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-problem .content .chart, #section-solution .content .chart {
    width: 58.33333%
}

@media (max-width: 768px) {
    #section-problem .content .chart, #section-solution .content .chart {
        width: 100%;
        margin-bottom: 50px
    }
}

#section-problem .content .chart img, #section-solution .content .chart img {
    width: 100%
}

#section-problem .content .details, #section-solution .content .details {
    width: 33.33333%
}

@media (max-width: 768px) {
    #section-problem .content .details, #section-solution .content .details {
        width: 100%
    }
}

#section-problem .content .details h2, #section-solution .content .details h2 {
    margin-bottom: 50px
}

#section-problem .content .details p, #section-solution .content .details p {
    margin-bottom: 30px
}

#section-problem .content .details ol, #section-solution .content .details ol {
    padding-left: 50px;
    counter-reset: a
}

#section-problem .content .details ol li, #section-solution .content .details ol li {
    list-style: none;
    position: relative;
    font-size: 14px;
    line-height: 1.8
}
#section-problem .content .details ol li h4, #section-solution .content .details ol li h4 {
    font-size: 20px;
}

#section-problem .content .details ol li:before, #section-solution .content .details ol li:before {
    content: counter(a);
    counter-increment: a;
    position: absolute;
    top: 0;
    left: -50px
}

#section-problem .content .details ol li:after, #section-solution .content .details ol li:after {
    content: "";
    position: absolute;
    top: .4em;
    left: -25px;
    width: 2px;
    height: calc(100% - .8em);
    background: #4f29fe;
    background: -webkit-gradient(left top, left bottom, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
    background: -webkit-gradient(linear, left top, left bottom, from(#4f29fe), to(#a93aff));
    background: linear-gradient(180deg, #4f29fe 0, #a93aff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5029fe", endColorstr="#aa3aff", GradientType=0)
}

#section-problem .content .details ol li + li, #section-solution .content .details ol li + li {
    margin-top: 30px
}

#section-influencer .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#section-influencer .grid .item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 30px;
    width: calc((100% - 30px * 2) / 3)
}

@media (max-width: 480px) {
    #section-influencer .grid .item {
        width: calc((100% - 30px) / 2)
    }
}

@media (max-width: 375px) {
    #section-influencer .grid .item {
        width: 100%
    }
}

#section-influencer .grid .item img {
    width: 100%
}

#section-influencer .grid .item h4 {
    padding-top: 15px;
    font-size: 18px;
}
#section-influencer .grid .item p {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    text-align: left;
}

#section-influence-exchange .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#section-influence-exchange .intro .desc {
    width: 45%
}

@media (max-width: 1024px) {
    #section-influence-exchange .intro .desc {
        width: 100%
    }
}

#section-influence-exchange .intro .shadow {
    width: 50%
}

@media (max-width: 1024px) {
    #section-influence-exchange .intro .shadow {
        display: none
    }
}

#section-influence-exchange .intro .shadow p {
    font-family: DinBlack, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, Droid Sans, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Tahoma, Arial, sans-serif;
    font-size: 100px;
    text-align: right;
    opacity: .2;
    line-height: 1.3;
    text-transform: uppercase
}

#section-influence-exchange .intro .shadow p:first-of-type {
    margin-top: -.3em
}

@media (max-width: 1280px) {
    #section-influence-exchange .intro .shadow p {
        font-size: 80px
    }
}

#section-influence-exchange .banner img {
    width: 100%
}

#section-buyclub .intro {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width: 1024px) {
    #section-buyclub .intro {
        position: static
    }
}

#section-buyclub .intro .desc {
    width: 30%;
    margin-top: 8%;
    text-align: right
}

@media (max-width: 1024px) {
    #section-buyclub .intro .desc {
        width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
        text-align: left
    }
}

@media (max-width: 1024px) {
    #section-buyclub .intro .shadow {
        display: none
    }
}

#section-buyclub .intro .shadow p {
    font-family: DinBlack, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, Droid Sans, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Tahoma, Arial, sans-serif;
    font-size: 100px;
    text-align: right;
    opacity: .2;
    line-height: 1.3;
    text-transform: uppercase
}

#section-buyclub .intro .shadow p:first-of-type {
    margin-top: -.3em
}

@media (max-width: 1280px) {
    #section-buyclub .intro .shadow p {
        font-size: 80px
    }
}

#section-buyclub .banner img {
    width: 65%
}

@media (max-width: 1024px) {
    #section-buyclub .banner img {
        width: 80%;
        display: block;
        margin: 0 auto
    }
}

@media (max-width: 480px) {
    #section-buyclub .banner img {
        width: 100%
    }
}

#anchor-team h2 {
    margin-bottom: 50px
}

#anchor-team .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px
}

#anchor-team .grid .item {
    width: 45%;
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start
}
#anchor-team .grid .item div strong{
    display: block;
    padding-bottom: 8px;
}

@media (max-width: 768px) {
    #anchor-team .grid .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px
    }
}

#anchor-team .grid .item .icon {
    width: 130px;
    height: 130px;
    margin-right: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media (max-width: 480px) {
    #anchor-team .grid .item .icon {
        width: 80px;
        height: 80px
    }
}

#anchor-team .grid .item .icon img {
    width: 100%;
    height: 100%
}

#anchor-team .grid .item p {
    font-size: 14px
}

#section-team .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#section-team .grid .item {
    width: calc((100% - 30px * 3) / 4);
    margin-bottom: 50px
}

@media (max-width: 1024px) {
    #section-team .grid .item {
        width: calc((100% - 30px * 2) / 3)
    }
}

@media (max-width: 480px) {
    #section-team .grid .item {
        width: calc((100% - 30px) / 2)
    }
}

#section-team .grid .item .photo {
    padding: 0 30px
}

@media (max-width: 768px) {
    #section-team .grid .item .photo {
        padding: 0 20px
    }
}

@media (max-width: 480px) {
    #section-team .grid .item .photo {
        padding: 0 15px
    }
}

#section-team .grid .item .photo img {
    width: 100%
}

#section-team .grid .item .name {
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #4f29fe;
    border-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff)) 2;
    -o-border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff)) 2;
    border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    text-align: center;
    font-size: 16px;
    padding: 10px 18px;
    position: relative
}

@media (max-width: 1024px) {
    #section-team .grid .item .name {
        font-size: 12px
    }
}

#section-team .grid .item .role {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 0
}

@media (max-width: 1024px) {
    #section-team .grid .item .role {
        font-size: 12px
    }
}

#section-partners .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#section-partners .grid .item {
    width: calc((100% - 15px * 3) / 4);
    margin-bottom: 30px
}

@media (max-width: 1024px) {
    #section-partners .grid .item {
        width: calc((100% - 15px) / 2)
    }
}

@media (max-width: 480px) {
    #section-partners .grid .item {
        width: 100%
    }
}

#section-partners .grid .item .photo {
    margin-bottom: 15px
}

#section-partners .grid .item .photo img {
    width: 70%;
    display: block;
    margin: 0 auto
}

#section-partners .grid .item p {
    font-size: 14px
}

@media (max-width: 1024px) {
    #section-partners .grid .item p {
        font-size: 12px
    }
}

#section-documentation .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width: 768px) {
    #section-documentation .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-documentation .content.content-rtl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

@media (max-width: 768px) {
    #section-documentation .content.content-rtl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-documentation .content .chart {
    width: 58.33333%;
    margin-top: -50px
}

@media (max-width: 1024px) {
    #section-documentation .content .chart {
        width: 50%
    }
}

@media (max-width: 768px) {
    #section-documentation .content .chart {
        width: 100%;
        margin-top: 0
    }
}

#section-documentation .content .chart img {
    width: 100%
}

#section-documentation .content .details {
    width: 33.33333%
}

@media (max-width: 1024px) {
    #section-documentation .content .details {
        width: 45%
    }
}

@media (max-width: 768px) {
    #section-documentation .content .details {
        width: 100%
    }
}

#section-documentation .content .details .btn {
    margin-top: 30%;
    margin-bottom: 30px;
    width: 100%
}

@media (max-width: 768px) {
    #section-documentation .content .details .btn {
        margin-top: 30px;
        margin-bottom: 20px
    }
}

#section-inc-token .charts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 768px) {
    #section-inc-token .charts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-inc-token .charts .chart {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%;
    padding-right: 30px;
    margin-bottom: 30px
}

@media (max-width: 768px) {
    #section-inc-token .charts .chart {
        width: 100%;
        margin-bottom: 50px
    }
}

#section-inc-token .charts .chart img {
    width: 90%
}

#section-inc-token .schedule {
    margin-top: 30px
}

#section-inc-token .schedule table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px
}

#section-inc-token .schedule table caption {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px
}

#section-inc-token .schedule table tr {
    margin-bottom: 15px
}

#section-inc-token .schedule table td {
    background-color: rgba(57, 49, 167, .2);
    border-top: 2px solid rgba(57, 49, 167, .2);
    border-bottom: 2px solid rgba(57, 49, 167, .2);
    padding: 16px 10px;
    font-size: 20px
}

#section-inc-token .schedule table td:first-of-type {
    border-left: 2px solid rgba(57, 49, 167, .2)
}

#section-inc-token .schedule table td:last-of-type {
    border-right: 2px solid rgba(57, 49, 167, .2)
}

@media (max-width: 1024px) {
    #section-inc-token .schedule table td {
        font-size: 16px
    }
}

@media (max-width: 768px) {
    #section-inc-token .schedule table td {
        font-size: 12px
    }
}

@media (max-width: 480px) {
    #section-inc-token .schedule table td {
        padding: 8px 4px
    }
}

#section-roadmap .timeline {
    width: 768px;
    max-width: 100%;
    margin: 0 auto
}

#section-roadmap .timeline .item {
    position: relative;
    padding-left: 300px;
    padding-bottom: 100px
}

@media (max-width: 768px) {
    #section-roadmap .timeline .item {
        padding-left: 50px;
        padding-bottom: 50px
    }
}

#section-roadmap .timeline .item:last-of-type {
    padding-bottom: 0
}

#section-roadmap .timeline .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 250px;
    width: 14px;
    height: 14px;
    border: 4px solid #7f32fe;
    border-radius: 50%
}

@media (max-width: 768px) {
    #section-roadmap .timeline .item:before {
        left: 0
    }
}

#section-roadmap .timeline .item:after {
    content: "";
    position: absolute;
    top: 26px;
    left: 259px;
    width: 4px;
    height: calc(100% - 30px);
    background-color: #7f32fe
}

@media (max-width: 768px) {
    #section-roadmap .timeline .item:after {
        left: 9px
    }
}

#section-roadmap .timeline .item h2 {
    font-size: 20px;
    margin-bottom: 20px
}

#section-roadmap .timeline .item > p {
    color: #aba7ff;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    line-height: 1.3
}

#section-roadmap .timeline .item > p:before {
    content: "";
    position: absolute;
    top: .15em;
    left: 0;
    width: 2px;
    height: calc(100% - .3em);
    background: #4f29fe;
    background: -webkit-gradient(left top, left bottom, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
    background: -webkit-gradient(linear, left top, left bottom, from(#4f29fe), to(#a93aff));
    background: linear-gradient(180deg, #4f29fe 0, #a93aff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5029fe", endColorstr="#aa3aff", GradientType=0)
}

#section-roadmap .timeline .item aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px
}

@media (max-width: 768px) {
    #section-roadmap .timeline .item aside {
        position: static;
        margin-top: 20px;
        width: 100%
    }
}

#section-roadmap .timeline .item aside img {
    width: 100%
}

#section-roadmap .timeline .item aside p {
    text-align: right
}

@media (max-width: 768px) {
    #section-roadmap .timeline .item aside p {
        text-align: left
    }
}

#section-news .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

@media (max-width: 1024px) {
    #section-news .news {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-news .news .item {
    background-color: rgba(57, 49, 167, .2);
    border: 2px solid rgba(57, 49, 167, .5);
    padding: 6px;
    width: 370px;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out
}

#section-news .news .item:hover {
    background-color: rgba(57, 49, 167, .8)
}

@media (max-width: 1280px) {
    #section-news .news .item {
        width: 300px
    }
}

@media (max-width: 1024px) {
    #section-news .news .item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    #section-news .news .item + .item {
        margin-top: 30px
    }
}

@media (max-width: 768px) {
    #section-news .news .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#section-news .news .item .img-wrapper {
    height: 185px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px
}

@media (max-width: 1024px) {
    #section-news .news .item .img-wrapper {
        width: 200px;
        height: 100px;
        margin-bottom: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
}

@media (max-width: 768px) {
    #section-news .news .item .img-wrapper {
        width: 100%;
        height: auto;
        position: static
    }
}

#section-news .news .item .img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%
}

@media (max-width: 768px) {
    #section-news .news .item .img-wrapper img {
        position: static;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

#section-news .news .item .content {
    padding: 0 10px;
    height: 100px
}

@media (max-width: 768px) {
    #section-news .news .item .content {
        height: auto
    }
}

#section-news .news .item p {
    font-size: 12px
}

@media (max-width: 1024px) {
    #section-news .news .item p {
        font-size: 14px
    }
}

#section-news .news .item p.info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#section-news .news .item p .date {
    color: #aba7ff;
    margin-right: 10px
}

#section-news .news .item p + p {
    line-height: 1.5;
    padding-left: 20px;
    position: relative
}

#section-news .news .item p + p:before {
    content: "";
    position: absolute;
    top: .25em;
    left: 0;
    width: 2px;
    height: calc(100% - .5em);
    background: #4f29fe;
    background: -webkit-gradient(left top, left bottom, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
    background: -webkit-gradient(linear, left top, left bottom, from(#4f29fe), to(#a93aff));
    background: linear-gradient(180deg, #4f29fe 0, #a93aff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5029fe", endColorstr="#aa3aff", GradientType=0)
}

#section-news .news .item.item-first .img-wrapper {
    height: 526px
}

@media (max-width: 1024px) {
    #section-news .news .item.item-first .img-wrapper {
        height: 100px
    }
}

@media (max-width: 768px) {
    #section-news .news .item.item-first .img-wrapper {
        height: auto
    }
}

#section-news .news .item.item-first .img-wrapper img {
    width: auto;
    height: 100%
}

@media (max-width: 1024px) {
    #section-news .news .item.item-first .img-wrapper img {
        width: 100%;
        height: auto
    }
}

#section-news .news .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 770px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (max-width: 1280px) {
    #section-news .news .grid {
        width: 630px
    }
}

@media (max-width: 1024px) {
    #section-news .news .grid {
        width: 100%;
        margin-top: 30px
    }
}

#section-news .news .grid .item:nth-child(n+3) {
    margin-top: 30px
}

#section-follow {
    border-top: 1px solid #36259c;
    border-bottom: 1px solid #36259c;
    padding: 50px 0
}

#section-follow h1 {
    text-align: center;
    line-height: 1.3
}

#section-follow .share {
    width: 100px;
    margin: 30px auto 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#section-follow .share li {
    width: 31px;
    height: 31px;
    position: relative
}

#section-follow .share li a {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#section-follow .share li.facebook a {
    background-image: url(../../img/icon-facebook.svg?v=0.07563)
}

#section-follow .share li.wechat a {
    background-image: url(../../img/icon-wechat.svg?v=0.15138)
}

#section-follow .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px
}

#section-follow .contact img {
    width: 26px;
    margin-right: 20px
}

#section-follow .detail {
    padding: 0 10%;
    text-align: center;
    color: #d9d7fc;
    font-size: 12px;
    line-height: 1.5
}
#section-follow .contact p {
    text-align: center;
    color: #aba7ff;
    font-size: 12px;
    line-height: 1.5
}

#main-footer {
    padding: 50px 0
}

#main-footer p {
    text-align: center;
    color: #aba7ff;
    font-size: 12px;
    line-height: 1.5
}

#main-footer p a {
    color: #aba7ff;
    padding: 0 6px;
    position: relative
}

#main-footer p a + a:before {
    content: "";
    position: absolute;
    top: .25em;
    left: -1px;
    width: 1px;
    height: calc(100% - .5em);
    background-color: #aba7ff
}

#main-footer p span {
    color: #aba7ff
}

.dialog-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
    z-index: 4
}

.dialog-mask.show {
    display: block
}

.dialog {
    position: fixed;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background-color: #04022e;
    display: none;
    width: 380px;
    max-width: 99%;
    padding: 40px;
    z-index: 1001;
    border-radius: 6px
}

.dialog.show {
    display: block
}

.dialog .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-image: url(../../img/btn-close.svg?v=0.58644);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer
}

.dialog .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 30px;
    padding-left: 0
}

.dialog .tabs .tab {
    padding: 10px;
    font-size: 18px;
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer
}

.dialog .tabs .tab.active {
    color: #4f29fe;
    background-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff));
    background-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff));
    background-image: linear-gradient(90deg, #4f29fe 0, #a93aff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #4f29fe;
    border-image: -webkit-gradient(left top, right top, color-stop(0, #4f29fe), color-stop(100%, #a93aff)) 2;
    -o-border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2;
    border-image: -webkit-gradient(linear, left top, right top, from(#4f29fe), to(#a93aff)) 2;
    border-image: linear-gradient(90deg, #4f29fe, #a93aff) 2
}

.dialog .dialog-desc {
    margin-bottom: 15px;
    font-size: 13px;
    text-align: center;
    color: #757575
}

.dialog .hint {
    font-size: 13px;
    color: #757575;
    padding-top: 10px
}

.dialog .form-group {
    position: relative;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.dialog .form-group input[type=password], .dialog .form-group input[type=text] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    width: 100%;
    font-size: 13px;
    padding-left: 45px;
    background-color: #0c0e38;
    border: 1px solid #151745;
    outline: none;
    position: relative;
    color: #fff
}

.dialog .form-group .input-wrapper {
    position: relative;
    width: 100%
}

.dialog .form-group .input-wrapper:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1
}

.dialog .form-group .select-wrapper {
    width: 100%;
    position: relative
}

.dialog .form-group .select-wrapper:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1
}

.dialog .form-group .select-wrapper:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    z-index: 1;
    pointer-events: none
}

.dialog .form-group .select-wrapper select {
    background-color: #0c0e38;
    border: 1px solid #151745;
    outline: none;
    position: relative;
    color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none
}

.dialog .form-group .select-wrapper .value, .dialog .form-group .select-wrapper select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    width: 100%;
    font-size: 13px;
    padding-left: 45px
}

.dialog .form-group .select-wrapper .value {
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    color: #fff;
    pointer-events: none
}

.dialog .form-group .select-wrapper .value.default {
    color: #757575
}

.dialog .form-group .file-input-container {
    position: relative;
    width: 100%;
    font-size: 13px;
    cursor: pointer
}

.dialog .form-group .file-input-container:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1
}

.dialog .form-group .file-input-container .file-input-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    background-color: #0c0e38;
    border: 1px solid #151745;
    outline: none;
    color: #757575;
    font-size: 13px
}

.dialog .form-group .file-input-container input[type=file] {
    display: none
}

.dialog .form-group .file-input-container .img-preview {
    width: 100%;
    max-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.dialog .form-group .file-input-container .img-preview.has-image {
    margin-top: 15px
}

.dialog .form-group .file-input-container .img-preview img {
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: 100px
}

.dialog .form-group .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap
}

.dialog .form-group .checkbox input[type=checkbox] {
    margin-right: 4px
}

.dialog .form-group.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.dialog .form-group.options a, .dialog .form-group.options label, .dialog .form-group.options p, .dialog .form-group.options span {
    font-size: 14px
}

.dialog .form-group.email-captcha button, .dialog .form-group.email-captcha img, .dialog .form-group.image-captcha button, .dialog .form-group.image-captcha img {
    margin-left: 15px;
    width: 120px;
    height: 45px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.dialog .form-group .btn {
    border-radius: 4px;
    font-size: 14px
}

#dialog-login #login-email .input-wrapper:before {
    background-image: url(../../img/icon-email.svg?v=0.84899)
}

#dialog-login #login-password .input-wrapper:before {
    background-image: url(../../img/icon-password.svg?v=0.58133)
}

#dialog-login #login-captcha-image .input-wrapper:before {
    background-image: url(../../img/icon-captcha.svg?v=0.97946)
}

#dialog-login #btn-login {
    width: 100%
}

#dialog-register #register-email .input-wrapper:before {
    background-image: url(../../img/icon-email.svg?v=0.35984)
}

#dialog-register #register-password .input-wrapper:before {
    background-image: url(../../img/icon-password.svg?v=0.59397)
}

#dialog-register #register-captcha-email .input-wrapper:before, #dialog-register #register-captcha-image .input-wrapper:before {
    background-image: url(../../img/icon-captcha.svg?v=0.18719)
}

#dialog-register #btn-register {
    width: 100%
}

#dialog-register .options span {
    cursor: pointer
}

#dialog-register #register-helper {
    display: none;
    line-height: 1.5
}

#dialog-register #register-helper p {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .5)
}

#dialog-register #register-helper p .lighlight {
    color: #fff
}

#dialog-register #register-helper.show {
    display: block
}

#dialog-forget #reset-email .input-wrapper:before {
    background-image: url(../../img/icon-email.svg?v=0.92554)
}

#dialog-forget #reset-password .input-wrapper:before {
    background-image: url(../../img/icon-password.svg?v=0.38174)
}

#dialog-forget #reset-captcha-email .input-wrapper:before, #dialog-forget #reset-captcha-image .input-wrapper:before {
    background-image: url(../../img/icon-captcha.svg?v=0.65984)
}

#dialog-forget #btn-reset {
    width: 100%
}

#dialog-forget .options span {
    cursor: pointer
}

#dialog-authentication #authentication-realname .input-wrapper:before {
    background-image: url(../../img/icon-user.svg?v=0.22113)
}

#dialog-authentication #authentication-id-number .input-wrapper:before {
    background-image: url(../../img/icon-id.svg?v=0.00974)
}

#dialog-authentication #authentication-country .select-wrapper:before {
    background-image: url(../../img/icon-nationality.svg?v=0.60767)
}

#dialog-authentication #authentication-id-photo .file-input-container:before {
    background-image: url(../../img/icon-upload.svg?v=0.83183)
}

#dialog-authentication #authentication-captcha-email .input-wrapper:before, #dialog-authentication #authentication-captcha-image .input-wrapper:before {
    background-image: url(../../img/icon-captcha.svg?v=0.45404)
}

#dialog-authentication #btn-authentication {
    width: 100%
}

#dialog-authentication .options span {
    cursor: pointer
}

#dialog-wechat-qrcode {
    width: 300px;
    padding: 30px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#dialog-wechat-qrcode .btn-close {
    top: 10px;
    right: 10px
}

#dialog-wechat-qrcode img {
    width: 100%
}

/*# sourceMappingURL=index.css.map */
